body{
    margin-top: 30px;
}
#titulos {
    text-align: center;
    width: 100%;
}
#cuerpo{
    width: 100%
}
.parte{
    width: 100%;
}
.letras{
    width: 20%;
    display: inline-block;
    margin-left: 10px;
}
.rellenar{
    width: 70%;
    display: inline-block;
    margin-left: 10px;
}
.p{
    float: right;
}
.txtbox{
    width: 200px;
    float: left;
}
.txtbox2{
    width: 100%;
}
#boton{
    text-align: center;
    margin-top: 40px;
}
eleccion1{
    width: 100%;
    display: list-item;
}



