#contenedor{
    text-align: left;
}
h2{
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
}
.formulario{
    margin-bottom: 5px;  
}
p {
    display: inline-block;
    width: 20%;
    text-align: right;
    margin-left: -350px;
    margin-top: 250px;
}
.textbox {
    display: inline-block;
    margin-left: 25px;
}
#boton{
    text-align: center;
    margin: 20px;
}
.rb{
    margin-left: 50px;
}
.dlist{
    margin-left: 40px;
}